body,html {
  position: relative;
  min-height:  100%;
}

body {
  background: url('../images/dark_wood.png');
  background-repeat: repeat;
  color: gold;
}

.win, .lose {
  position: fixed;
  width:  60%;
  height:  200px;
  top:  10%;
  left: calc(50% - 30%);
  opacity:  1;
  border-radius: 4px;
  background-color:  black;
  z-index:  4;
  transition:  all 300ms;
  display:  none; 
}
.win h2 {
  color: green;
  margin-top:  10px;
}
.lose h2 {
    color:  red;
}
.mod {

}

.player-cards, .dealer-cards {
  position:  relative;
  text-align: center;
  min-height: 270px;
}

.playerPoints, .dealerPoints, .player-label, .dealer-label {
  display: inline-block;
  padding-right:  10px;
}
#player-label, #dealer-label  {
  text-align: center;
}

.win .content, .lose .content {
  display: block;
  position:  absolute;
  line-height: 48px;
  font-size:  48px;
  text-align: center;
  color: white;
  width:  100%;
}


.bottom-table {
      margin-top: 20px;
    }


#startGame {
  margin-top: 100px;
}

.bet-buttons {
  margin: 20px auto;
}
.bet-btn {
  color: #ffffff;
  width: 150px;
  border-radius: 50%;
  background: none;
  padding: 30px;

}

.dealer-cards .card:nth-child(1)::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0,0,0,1);
  border: 1px solid gold;
  transition: all 300ms;
}

.dealer-cards .card.show-card::after {
  opacity: 0;
}

.start-game-module {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background-image: url('../images/bg.jpeg');
  background-size: cover;
  background-position: top center;
  padding: 20px;
  z-index: 1;
}

.card {
  position: relative;
  display: inline-block;
  margin: 20px 20px 20px -100px;
  width: 150px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 2px 2px 2px 5px rgba(0,0,0,0.3);
  height: 225px;
  background-color: #444;
  color: white;
  border-radius:  4px;
  border: 1px solid #555;
}
.card:nth-child(1){
  margin-left:  0;
}

.well {
  position:  fixed;
  bottom:  0;
  left:  0;
  width:  100%;
  background-color:  #000;
  color:  white;
  border:  none;
  border-top: 1px solid #222;
  margin:  0;
}
.card .card-number {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
}

.card .card-suit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;

}
